
<section class="inicio">
  <h1>inicio Component</h1>


  <head>

  	<meta charset="UTF-8">
  	<meta name="description" content="descripcion de la pagina">
  	<meta name="keyword" content="JAVA, HTML..">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">

  	<title> Mi Pagina Web </title>


  	<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

  	<link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/estilos.css" media="screen" />

  </head>
  <body>


  	<div class="barrasup">
  		<div class="container">
  			<div>
  				Tel 951787323
  			</div>
  			<div>
  				<a href=""><i class="fa fa-facebook-square"></i></a>
  				<a href=""><i class="fa fa-twitter-square"></i></a>
  				<a href=""><i class="fa fa-youtube-square"></i></a>
  			</div>
  		</div>

  	</div>

  	<header>

  		<div class="container-menu">

  			<div id="menuresponsive">
  		        <ul>
  					<li><a href="#qs">Quienes Sois</a></li>
  					<li><a href="https://www.google.es/maps/@40.5915039,-3.9193269,13z">Localizanos</a></li>
  					<li><a href="qee">Que es esto</a></li>
  					<li><a href="https://www.google.es/">Que hacemos</a></li>
  					<li><a href="#contacto">Contactanos</a></li>
  				</ul>

  		        <div>
  		            <i class="fa fa-bars"></i>
  		        </div>

  		    </div>

  			<div class="container">
  				<div class="logo">
  					<a href="index.html"><img class="rotateMe" src="imagenes/logo.png" alt="" height="60" width="258"></a>
  				</div>


  				<div class="menu">
  					<ul>

  						<li>
  							<a href="#qs">Quienes Sois <span></span></a>
  						</li>
  						<li>
  							<a href="https://www.google.es/maps/@40.5915039,-3.9193269,13z">Localizanos<span></span></a>
  						</li>
  						<li>
  							<a href="#qee">Que es esto<span></span></a>
  						</li>
  						<li>
  							<a href="https://www.google.es/">Que hacemos<span></span></a>
  						</li>
  						<li>
  							<a href="#contacto">Contactanos<span></span></a>
  						</li>

  						<li class="clearfix"></li>

  					</ul>


  				</div>

  				<div class="clearfix"></div>
  			</div>

  		</div>

  		<div id="banner">

  		</div>

  	</header>
  	<a name="qs"></a>
  	<section class="impar">

  		<h1> Quienes Somos</h1>


  		<p class="entradilla">
  			Somos una gran multinacional petrolifera que queremos adueñarnos de todo su dinero y el de sus familias, por eso hemos creado este colegio para sacarles una pasta y que sus hijos lo pasen mal.
  		</p>

  	  	<div class="container">
  	  		<a name="qee"></a>
  	 		<div class="threecolumns">
  				<div class="icons">

  			 			<i class="fa fa-rocket fa-4x"></i> <br>
  			 			<h2>Actividades</h2>
  			 		 Si su familia es lo suficientemente adinerada , usted podria permitirse costear un viaje por el espacio con los mejores astronautas vivos y experimentar el viaje.
  				</div>
  	 		</div>

  	 		<div class="threecolumns">
  				<div class="icons">
  			 			<i class="fa fa-heart fa-4x"></i> <br>
  			 			<h2>Salud</h2>
  			 		 Todas las personas (alumnos) que padezcan alguna enfermedad pulmonar o del corazon no seran admitidos aqui ya que no queremos que se nos muera nadie.
  				</div>
  	 		</div>

  	 		<div class="threecolumns">
  				<div class="icons">
  			 			<i class="fa fa-motorcycle fa-4x"></i> <br>
  			 			<h2>Comodidades</h2>
  			 		Sus hijos deberan tener minimo tres vehiculos a su nombre, si no no podremos robarselos, por lo cual minimo dos motos y un coche. Precio minimo 435.000 Euros.
  				</div>
  	 		</div>

  			<div class="clearfix"></div>

  	  	</div>

  	</section>


  	<section class="par" >

   		<div class="container">

  	  		<div class="floatl sectioniz ">
  				<div class='carousel'>

  				  <ul class='panes'>

  				    <li>
  				      <h2>Movil y mac</h2>
  				      <img src='imagenes/carousel/slider_1.jpg' alt="">
  				    </li>

  				    <li>
  				      <h2>Componentes</h2>
  				      <img src='imagenes/carousel/slider_2.jpg' alt="">
  				    </li>

  				    <li>
  				      <h2>Mac cerrado</h2>
  				      <img src='imagenes/carousel/slider_3.jpg' alt="">
  				    </li>

  				    <li>
  				      <h2>Mac abierto</h2>
  				      <img src='imagenes/carousel/slider_4.jpg' alt="">
  				    </li>

  				    <li>
  				      <h2>Mando y consola</h2>
  				      <img src='imagenes/carousel/slider_5.jpg' alt="">
  				    </li>

  				  </ul>

  				</div>
  	  		</div>

  	  		<div class="floatr sectionder">
  	  			<h2>Este es un texto cualquiera</h2>
  	  			Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias.En la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias.

  		  		<a href="" class="boton"> Mas informacion</a>

  	  		</div>

  	  		<div class="clearfix"></div>

  	  	</div>

  	</section>

  	<section class="impar">

  	  	<div class="container">

  	  		<div class="floatr sectionder ">

  <img class="rounded imgresponsive" src='imagenes/carousel/slider_3.jpg' alt="">

  	  		</div>

  	  		<div class="floatl sectioniz">
  	  		<h2>Otro texto cualquiera</h2>
  	  		Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias.En la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias.

  	  		<a href="" class="boton"> Mas informacion</a>

  	  	</div>

  	  	<div class="clearfix"></div>

  	  	</div>

  	</section>


  	<footer>
  		<div class="container">
  			<div>
  				<img class="rotateMe" src="imagenes/logo.png" alt="" height="" width="150">
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  				</p>
  			</div>


  			<div>
  				<h3>
  					LAST NEWS
  				</h3>
  				<ul>
  					<li><a href="titulo1">Last News Europe</a></li>
  					<li><a href="titulo1">Last News America</a></li>
  					<li><a href="titulo1">Last News Asia</a></li>
  					<li><a href="titulo1">Last News Oceania</a></li>
  					<li><a href="titulo1">Last News Africa</a></li>
  				</ul>
  			</div>

  			<div>
  				<a name="contacto"></a>
  				<h3>CONTACTANOS</h3>

  				<form action="myProceso.php" type="POST">
  	                	<label for="nombre">Nombre: </label><br>
  	                	<input type="text" name="nombre" placeholder="Nombre y Apellidos" required>

  		                <label for="email">Email: </label><br>
  		                <input type="email" name="email" placeholder="Ej: Miemail@gmail.com" required>

  		                <label for="comentario">Comentarios:</label> <br>
  		                <textarea name="comentario" placeholder="Escribenos aqui tu consulta de cualquier tipo..."></textarea>

  		                <input type="submit" value="Enviar">
             		</form>

  			</div>

  			<div> <h3>SIGUENOS</h3>
  				<a href=""><i class="fa fa-facebook-square fa-2x"></i></a>
  				<a href=""><i class="fa fa-twitter-square fa-2x"></i></a>
  				<a href=""><i class="fa fa-youtube-square fa-2x"></i></a>
  			</div>

  		</div>

  	<div class="clearfix"></div>

  	</footer>

  </body>
</section>
